.AboutUs {
  width: 100%;
  background-color: lightseagreen;
  color: white;
  padding: 20px;
}
  
.AboutUss {
  color: white;
  text-align: left;
}
  
.Bottom {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.Social {
  margin-left: 00px;
}
  
#Facebook {
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
}
  
#Instagram {
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
}
  
#Gmail {
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
}
  
.Bot,
.PT {
  margin-left: 10px;
  cursor: pointer;
}





