.AboutUs {
  position: relative;
  width: 100%;
  background-color: darkgoldenrod;
  color: white;
  padding: 20px;
  top: 100%;
}

  
.AboutUss {
  color: white;
  text-align: left;
}
  
.Bottom {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.Bot,
.PT {
  margin-left: 10px;
  cursor: pointer;
}











