.NavbarComponents{
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: skyblue;
    border-radius : 20px;   
    width : 100%;
    height : 100px;
    opacity : 0.5
}

.NavbarSymbol{
    color : white;
    font-size: 2rem;
    cursor : pointer;
}

.NavbarMenus{
    margin-left: 30px;
    display : grid;
    grid-template-columns: repeat(6, auto);
    grid-gap : 15px;
    list-style : none;
    align-items : center;
}

.NavbarMenu, button{
    text-decoration : none;
    color : white;
    font-size : 1rem;
    padding : 30px 20px;
    white-space : nowrap;
}

.NavbarMenu i, button{
    padding-right : 10px;
}

.NavbarMenu:hover{
    background-color : lightblue;
    border-radius : 5px;
    transition : 0.3s;
}

.NavRight{
    display:flex;
    align-items: center;
    list-style: none;
}

#Bar{
    color: white;
    font-size : 1.5rem;
    cursor : pointer;
    margin-left: 15px;
    text-align: right;
}

.Language{
    font-size : 1.5rem;
    color: white;
    text-align: right;
}